@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat/static/Montserrat-Regular.ttf')
    format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat/static/Montserrat-SemiBold.ttf')
    format('truetype');
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: Montserrat, sans-serif;
  margin: 0;
  overflow: hidden;
  user-select: none;
}
